<div class="row">
    <label>Grid height: {{crosswordGridCtrl.height}}</label>
    <label>Grid width: {{crosswordGridCtrl.width}}</label>
    <br/>
    <label>Symmetrical: <span ng-class="{ problem: !crosswordGridCtrl.symmetrical, good: crosswordGridCtrl.symmetrical }"> {{crosswordGridCtrl.symmetrical}}</span></label>
</div>
<div class="row">
    <label>Auto-symmterical: </label>
    <input type="checkbox" ng-model="crosswordGridCtrl.autosym" />
</div>
<div class="row">
    <div class="cw-grid">
        <div ng-repeat="j in crosswordGridCtrl.griddata" class="row cw-grid-row">
            <div ng-repeat="i in j" class="cw-sq cw-grid-column" ng-right-click="crosswordGridCtrl.Flip(i);" ng-class="{ 'cw-sq-closed': !i.open, 'cw-sq-open': i.open }">
                <span ng-if="i.open" class="cw-sq-letter">
                    <input type="text" maxlength="1" ng-model="i.letter" ng-change="crosswordGridCtrl.InputLetter(i)" ng-keydown="crosswordGridCtrl.Keydown($event, i)"/>
                </span>
                <span class="cw-sq-number">
                    {{ i.number || "" }}
                </span>
            </div>
        </div>
    </div>
    <div class="cw-clues">
        <div class="cw-clues-section">
            <div><strong>Across:</strong></div>
            <div ng-repeat="clue in crosswordGridCtrl.acrossClues">
                <strong>{{ clue.number + ". " }}</strong> {{ clue.text }} <span class="cw-clue-possibles" ng-class="{ 'good': clue.possibles > 0, 'problem': clue.possibles <= 0 }"
                ng-click="crosswordGridCtrl.CreatePossibleList(clue.text)" ng-show="clue.text.contains('_')"> ({{ clue.possibles }}) </span>
            </div>
        </div>
        <div class="cw-clues-section">
            <div><strong>Down:</strong></div>
            <div ng-repeat="clue in crosswordGridCtrl.downClues">
                <strong>{{ clue.number + ". " }}</strong>{{ clue.text }} <span class="cw-clue-possibles" ng-class="{ 'good': clue.possibles > 0, 'problem': clue.possibles <= 0 }"
                ng-click="crosswordGridCtrl.CreatePossibleList(clue.text)" ng-show="clue.text.contains('_')"> ({{ clue.possibles }}) </span>
            </div>
        </div>
    </div>
</div>
<div>
    <div ng-repeat="i in crosswordGridCtrl.possibleList">{{i}}</div>
</div>